@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
  /* выше установили ограничения для секции */
.header {
  overflow: hidden;
  background:  #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  max-width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 4;
}

.header__subtitle {
  margin: 0;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color:#2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  object-fit: cover;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background: #2f80ed;
}
.header__square-pic_rotation {
  animation: rotation 20s linear infinite;
}

.two-columns {
  width: 80%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.two-columns__brief {
  margin: 0;
  max-width: 175px;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: normal;
  color:  #2f80ed;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  color: #000;
  font-weight: 600;
}

/* Section techniques Start */
.techniques {
  margin-bottom: 100px;
}

.cards {
  max-width: 920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 60px;
}
.cards__item {
  text-align: center;
  width: 240px;
  margin-right: 100px;
  margin-bottom: 60px;
}

.cards__item:nth-child(3) {
  margin-right: 0;
}

.cards__image {
  padding: 0 40px 0 40px;
  width: 160px;
  height: 160px;
  background-size: cover;
  margin-bottom: 43px;
  border-radius: 50%;
}
.cards__title {
  margin: 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: 400;
}
/* Section techniques End */

/* Section video Start */

.video__iframes {
  margin: 50px auto 0 auto;
  text-align: center;
}
.video__iframe {
  margin-right: 20px;
}

/* Section video End */

/* Section Oakley Start */
.oakley {
  padding-top: 100px;
  margin-top: -60px;
  background: #f2f2f2;
  padding-bottom: 100px;
}

/* Section Oakley End */

.digits {
margin-bottom: 100px;
}
.section-title {
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 60px;
  line-height: 1.15em;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1100px;
  padding-left: 0;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  list-style: none;
  padding: 0;
}

.table__heading {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.table__text {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.table__text:nth-child(2) {
  margin-bottom: 20px;
}

/* Khan Start */
.khan {
  padding-top: 105px;
  background: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
}

.khan__author {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
}

.khan__title {
  margin: 0 0 50px 0;
  font-weight: 600;
  font-size: 60px;
  line-height: 1.15;
}

.khan__quote {
  margin: 0 0 36px 0;
  max-width: 790px;
  font-weight: 34px;
  font-size: 24px;
  font-weight: 400;
}

.khan__quote-author {
  margin: 0 0 10px 0;
  font-weight: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0 0 68px 0;
  font-weight: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  margin-right: 48px;
  width: 620px;
  height: 608px;
  background-size: cover;
}

.khan__buy-link {
  color:  #2f80ed;
  text-decoration: none;
  font-weight: 42px;
  font-size: 30px;
  font-weight: 600;
}
/* Khan End */

.feynman {
  min-height: 890px;
  position: relative;
  background: #f2f2f2;
  margin-bottom: 100px;
}

.feynman__title {
  position: relative;
  padding-top: 100px;
  margin: 0 auto 70px;
  text-align: center;
  max-width: 648px;
  font-size: 120px;
  line-height: 1.15em;
  font-weight: 600;
  z-index: 2;
}

.feynman__subtitle {
  margin: 0;
  position: relative;
  text-align: center;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color:  #2f80ed;
  text-decoration: none;
  z-index: 2;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.kaufman {
  margin-bottom: 100px;
  padding-bottom: 90px;
  position: relative;
  background: #1f1f1f;
  overflow: hidden;
  color: white;
}

.section-title_theme_dark {
  margin-top: 90px;
  position: relative;
  font-size: 60px;
  line-height: 1.15em;
  font-weight: 600;
  z-index: 2;
}
.section-subtitle_theme_dark {
  margin-bottom: 0px;
  position: relative;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  z-index: 2;
}

.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  margin-right: 0;
  z-index: 1;
}

.table__heading_theme_dark {
  font-size: 24px;
  line-height: 1.15em;
  font-weight: 600;
}

.table__text_theme_dark {
  margin-bottom: 0;
}

.table__text_theme_dark:nth-child(2) {
  margin-bottom: 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top:0;
  right: -210px;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.kaufman__triangle_rotation {
  animation: rotation 20s linear infinite;
}

/* Resources Start */

.resources__logo-zone {
  margin: 80px auto 217px auto;
  max-width: 1100px;
}
.resources__link {
  width: 270px;
  height: 38px;
  background-size: cover;
}
/* Resources End */

.footer {
  background: #1f1f1f;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px 0;
  min-height: 250px;
  color: white;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  flex-basis: 711px;
}

.footer__column_content_copyright>*:first-child {
  align-self: flex-start;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;

}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}
.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.footer__list {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}

.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color:white;
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}

.footer__column-links:last-child {
  margin-bottom: 16px;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color:white;
}

.footer__column-link:last-child {
  margin-bottom: 16px;
}

.link:hover {
  color: #C8C8C8;
  opacity: .5;
  transition: .6s;
}
